.QAthumnails {
    object-fit: cover;
    width: 80px;
    height: 80px;
    margin: 2px
}

#warningText {
    color: red;
}

#warningTextBold {
    font-weight: 800
}

#smallFont {
    font-size: '8px'
}